@font-face {
    font-family: 'Minecraft';
    src: url(minecraft.otf);
}
* {
    font-style: normal;
    font-family: Minecraft;
    margin: 0;
    padding: 0;
}
canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
html, body {
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.bar_background {
    width: 100%;
    height: 80px;
    background-color: rgb(1, 1, 1);
}
.bar {
    z-index: 9999;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: rgba(42, 41, 40, 0.95);
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.25), 0px 0px 16px 4px rgba(0, 0, 0, 0.25);
}
.bar img {
    margin: 10px 5%;
    height: auto;
    width: 300px;
}

.social a img {
    width: 30px;
    height: auto;
}
.social a h4 {
    font-size: 10px;
    text-decoration: none;
    color: aliceblue;
}
.social a:not(.extra-button) {
    border-radius: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2px 2px;
}
.social a:hover {
    box-shadow: inset 0 0 0 2px rgba(255, 0, 0, 0.25), 0px 0px 16px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(194, 0, 0, 0.118);
}
.social {
    margin-right: 12px;
    display: flex;
    align-items: center;
}

.separador {
    flex-grow: 1;
}

.social-main {
    display: flex;
    justify-content: center; 
}

.social-phone {
    z-index: 9999;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    display: none;
    box-shadow: inset 0 0 0 2px rgba(206, 206, 206, 0.25), 0px 0px 16px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(42, 41, 40, 0.95);
    position: fixed;
    bottom: 0;
}
.social-phone ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.social-phone ul li a img {
    width: 30px;
    height: auto;
}
.social-phone ul li a h4 {
    font-size: 10px;
    text-decoration: none;
    color: aliceblue;
}
.social-phone ul li a:not(.extra-button) {
    border-radius: 10px;
    width: 80px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2px 2px;
}
.social-phone ul li a:hover {
    box-shadow: inset 0 0 0 2px rgba(255, 0, 0, 0.25), 0px 0px 16px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(194, 0, 0, 0.118);
}
.extra-button {
    font-size: 8px;
    text-decoration: none;
    color: aliceblue;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    margin: 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.extra-button img {
    border: 1px solid white;
}
.social-phone .extra-button h2 {
    margin-left: 10px;
}

@media (max-width: 1160px) {
    .separador {
        display: none;
    }
    .bar {
        align-items: center;
        justify-content: center;
    }
    .social {
        display: none;
    }
    .social-phone {
        display: flex;
    }
}
@media (max-width: 655px) {
    .social-phone ul {
        overflow-x: auto;
        width: calc(99vw - 24px);
        scrollbar-width: thin;
        scrollbar-color: #666 transparent;
    }
}
@media (max-width: 370px) {
    .bar img {
        margin: 10px 5%;
        height: auto;
        width: 80%;
    }
}
